.box-title{
    display: inline-block;
    text-align: center;
    margin-left: 125px;
    margin-top: 125px;
}

.box-title .navigation{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    gap: 100px;
}

.box{
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color:#310D20;
    padding: 42px 44px;
    box-shadow: 8px 8px 0 #000;
    transition: transform 0.4s ease-in-out;
}

.box .Title{
    margin-bottom:28px;
}

.box:hover{
    transform: translateY(-20px);
}