.box{
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color:#310D20;
    padding: 42px 44px;
    box-shadow: 8px 8px 0 #000;
    transition: transform 0.4s ease-in-out;
}

.box-title{
    display: inline-block;
    opacity:0.6;
    top: 200px;
    left: 150px;
    align-items: center;
    justify-content: center;
    transition: opacity 0.1s ease-in-out
}

.box-title .navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 20px;
}

.box .Title{
    margin-bottom:28px;
}

.box:hover{
    transform: translateY(-20px);
}

.box-title:hover{
    opacity: 1;
}