.button{
    display: inline-block;
    background-color: #F25A70;
    height: 60px;
    line-height: 60px;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 5px 5px 0px #000;
    margin-right:0;
    transition: transform 0.1s linear;
}

.button:hover{
    transform: scale(1.05);
    background-color:#FFF;
    color:#000;
    box-shadow: 5px 5px 0px #F25A70;
}

.box nav{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    gap: 100px;
}