.main-image{
    display: inline-block;
    background-color: #310D20;
    box-shadow: 8px 8px 0 #000;
    padding: 7px 8px;
    right: 150px;
    top: 250px;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.img-icon{
    width: 350px;
    height: 350px;
    border-style:groove;
    border-color:#000;
}

.description{
    display: flex;
    justify-content: center;
    padding: 5px 0;
    color: #fff;
}

.main-image:hover{
    box-shadow: 8px 8px 0 #F25A70;
    transform: translateY(-15px);
}
