.main-skill{
    display: flex;
    font-family: 'Press Start 2P', 'Sans Serif';
    font-size: 25px;
    color: #FFF;
}

.main-skill .icon{
    margin-right: 25px;
}

.main-skill .right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}