#main-Icon{
    font-family: 'Press Start 2P', 'Sans Serif';
    color:#FFF;
    text-shadow: 6px 6px 0 #F25A70;
    align-items: center;
    justify-content: center;
}

#main-Icon:hover{
    animation: float 1.5s ease-in-out infinite;
}

@keyframes float{
    0%{
        text-shadow: 6px 6px 0 #FFF;
        color:#F25A70;
    }
    25%{
        text-shadow: 7px 7px 0 #FFF;
        color:#F25A70;
    }
    50%{
        text-shadow: 8px 8px 0 #FFF;
        color:#F25A70;
    }
    75%{
        text-shadow: 7px 7px 0 #FFF;
        color:#F25A70;
    }
    100%{
        text-shadow: 6px 6px 0 #FFF;
        color:#F25A70;
    }
}
