.main-action{
    display:inline-flex;
    align-items:center;
    font-family:'Fira Code', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: #FFF;
    margin-right: 30px;
}

.main-action::before{
    content:"";
    background-color:#F25A70;
    width:10px;
    height:10px;
    margin-right:10px;
}

.main-action:hover{
    color: #F25A70;
}