.main-skill{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', 'Sans Serif';
    font-size: 25px;
    color: #FFF;
}

.main-skill .skill-icon{
    margin-right: 25px;
}

.main-skill .skill-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-skill .skill-Subtitle{
    margin-bottom: 10px;
}