.progress-bar{
    box-sizing: border-box;
    border: 5px solid #000;
    height: 40px;
}

.progress-bar::-webkit-progress-value{
    background-color: #FFF;
}
.progress-bar::-moz-progress-value{
    background-color: #FFF;
}
.progress-bar::-webkit-progress-bar{
    background-color: #310D20;
}
.progress-bar::-moz-progress-bar{
    background-color: #310D20;
}
