.section{
    background-color:#310D20;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #F25A70;
}

.section .main-Subtitle{
    margin-bottom: 60px;
}

.section.-second{
    background-color: #000;
}