h3{
    font-family: 'Press Start 2P', 'Sans Serif';
    font-size: 30px;
    color:#F25A70;
    margin-top:40px;
    text-shadow: 6px 6px 0 #000;
    text-align: center;
    justify-content: center;
}