.wrapper-carousel{
    display: flex;
    justify-content: space-around;
    position:relative;
    overflow: hidden;
}

.wrapper-carousel::after{
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    height: 6px;
    width: calc(100% - 80px);
    top: 50px;
    background-color: #000;
}

.wrapper-carousel::before{
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    border: 3px dashed #000;
    width: 100%;
    top: 50px;
}


.wrapper-carousel .button-arrow{
    z-index: 1;
    margin-top: 140px;
    opacity: 0.6;
    transition: opacity 0.4s ease-in-out , transform 0.2s ease-in-out;
}

.wrapper-carousel .button-arrow:hover{
    opacity: 1;
    transform: translateY(-10px);
}

.wrapper-carousel .items{
    z-index: auto;
    overflow: hidden;
    width: calc(100% - 155px);
}

.wrapper-carousel .elements{
    display: flex;
    justify-content: space-around;
    transform: translateX(0px);
    transition: transform 0.5s ease-in-out;
}