.wrapper-description{
    display: flex;
    justify-content: center;
}

.wrapper-description .main-description{
    width: 65%;
    padding: 20px;
    background-color: #310D20;
    font-family:'Fira Code', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #FFF;
    border: 6px double #000;
}